*{
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    margin: 0px;
    padding: 0px;
    font-style: normal;
}
html, body, div, span, applet, object, iframe,
h1, h3, p{
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
section {
  display: block;
}
body {
  background: rgb(100, 16, 48);
  font-family:tahoma;
}
.container {
  width: 350px;
  margin-left: 100px; /*auto*/
  margin-right: 0px;
}
main{
  float: left;
}
.svg {
  display: none;
  z-index: 1;
}

.control{
  background: url(../images/audio-speaker-on.svg);
  display: block;
  height: 40px;
  position: absolute;
  top: 10px;
  width: 40px;
}

.dance {
  position: absolute;
  margin-left: 650px;
  margin-top: 320px;
  display: block;
  animation: sprite-animation 1.45s steps(11,end) infinite;
  background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/160607/veronicadance-pink.svg') no-repeat;
  height: 550px;
  width: 450px;
  z-index: 2;
}

@keyframes sprite-animation { 
  0% { background-position: 0 0; }
  100% { background-position: -6041px 0; }
}

@font-face {
	font-family: Museo;
	src: url("https://s.cdpn.io/26175/Museo300-Regular.otf") format("opentype");
}

.neon {
  position: absolute;
  display: block;
  width: 800px;
  text-align: center;
  margin-left: 500px;
  margin-top: 15px;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 100px;
  text-transform: uppercase;
  color: #fff;
  -webkit-animation:pulse 1.5s ease-in-out infinite alternate;
  -webkit-backface-visibility: hidden;
}

@-webkit-keyframes pulse {
  from {
    text-shadow: 0 0 10px #fff,
               0 0 20px #fff,
               0 0 30px #fff,
               0 0 40px #f10079,
               0 0 70px #f10079,
               0 0 80px #f10079,
               0 0 100px #f10079,
               0 0 150px #f10079;
  }
  to {
    text-shadow: 0 0 5px #fff,
               0 0 10px #fff,
               0 0 15px #fff,
               0 0 20px #f10079,
               0 0 35px #f10079,
               0 0 40px #f10079,
               0 0 50px #f10079,
               0 0 75px #f10079;
  }
}
#emoji_rain {
  float: right;
}
.reg_section {
  padding:0;
  margin: 10px 0;
  border-bottom: 1px dotted #eee;
}
.reg_section h3 {
  font-size: 13px;
  margin: 5px 0;
  color: #C4A2A2;
}
.register {
  position: relative;
  padding: 20px 20px 20px;
  background: #fff;
  border-radius: 3px;
  box-shadow: 0 0 200px rgba(255, 255, 255, 0.5), 0 1px 2px rgba(0, 0, 0, 0.3);
}

.register h1 {
  margin: -20px -20px 0;
  line-height: 40px;
  font-size: 15px;
  font-weight: bold;
  color:#694551;
  text-align: center;
  border-bottom:1px solid #EDEDED;
  border-radius: 3px 3px 0 0;
  box-shadow: 0 1px #f5f5f5;
}

.register input[type=text],input[type=password],input[type=email],input[type=url], input[type=tel] ,select,textarea {
  width: 278px;
}
.register input[type=number]{
    width: 40px;
    margin-right: 20px;
}
.register p.terms {
  float: left;
  line-height: 31px;
}
.register p.terms label {
  font-size: 12px;
  color: #777;
  cursor: pointer;
}
.register p.terms input {
  position: relative;
  margin-right: 6px;
}
.register p.submit {
  text-align: right;
}

:-moz-placeholder {
  color: #c9c9c9 ;
  font-size: 13px;
}

::-webkit-input-placeholder {
  color: #ccc;
  font-size: 13px;
}

input {
  font-family:"Trebuchet MS",tahoma;
  font-size: 14px;
}

input[type=text], input[type=password],input[type=email],input[type=url],input[type=tel],input[type=number],.register select, textarea {
  margin: 5px;
  padding: 0 10px;
  height: 34px;
  color: #404040;
  background: #fff;
  border-width: 1px;
  border-style: solid;
  border-color: #c4c4c4 #d1d1d1 #d4d4d4;
  border-radius:3px;
  outline:3px solid rgba(200, 105, 137, 0.09);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.12);
  margin:10px 0;
}
input[type=checkbox]{

  padding: 0 10px;
  height: 10px;
  color: #404040;
  background: #fff;
  border-width: 1px;
  border-style: solid;
  border-color: #c4c4c4 #d1d1d1 #d4d4d4;
  border-radius:3px;
  outline:3px solid rgba(200, 105, 137, 0.09);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.12);
  margin:10px 0;
  
}
.row_down input[type=checkbox],input[type=radio]{
  margin-left: 100px;
  
}
select[name=age]{
  margin-left: 55px;
}
.row_down input[type=number]{
  margin-left: 40px;
}

input[type=text]:focus, input[type=password]:focus,input[type=email]:focus,input[type=url]:focus,input[type=tel]:focus{
  border-color:#FFF7F9;
  outline-color:rgba(254, 225, 235, 0.7);
  outline-offset: 0;
}


input[type=submit] {
  padding:0 10px;
  height: 29px;
  font-size: 12px;
  font-weight: bold;
  color:#FFFFFF;
  text-shadow:0 1px #4D1124;
  border-width: 1px;
  border-style: solid;
  border-color:#693647;
  border-radius: 7px 7px 7px 7px;
  outline: none;
  box-sizing: content-box;
  background-color: #7D0F33;
  box-shadow:0 1px #CD4170 inset, 0 1px 2px #93284C;
}
label {
    font-size: 15px;
    color: #7D0F33;
}
.register select {
  padding:6px 10px;
  width: 70px;
  color: #777777;
}
.register textarea {
  height: 50px;
  padding: 10px;
  color: #C9C9C9;
}