*{
	text-decoration: none;
	margin: 0px;
	padding: 0px;
  }
  body{ font-family: Arial, Helvetica, sans-serif; }
  main, nav, article, aside, section, header,
  footer { display:block;text-decoration: none;}
  header {
	width:100%;
	height:123px;
	background-color: #CED1D9;
   padding-top:2px;
   
  }
  
  .logo{
	background: url("../images/logo1.png")no-repeat top;
	height: 90px;
	width: 90px;
	margin-left: 30px;
	margin-top: 15px;
	position: absolute;
  }

  @media (min-width: 851px){
	.w3-bar-item, .w3-button, .w3-large{
		display: none;
	  }
	  nav{
		margin-top: 3%;
		position: absolute;
		margin-right: 0px;
		font-family: Amiko;
		font-style: normal;
		font-weight: normal;
		font-size: 24px;
		line-height: 32px;
		color: #000000;
		margin-left: 10%;
	  }
	  
	  nav a{
		margin-left: 22px;
		color: #ffffff;
	  }
	  nav a:hover{
		color:#4183C4;
	  }
	  .icons{
		margin-left: 75%;
		margin-top: 3%;
		display: inline-flex;
		position: relative;
	  }
	  .icons i{
		margin-left: 22px;
		font-size: 20px;
	  }
	  .icons:hover input{
		width: 100px;
		padding: 0 36px 0 8px;
	  }

	  search-container input[type=text] {
		font-size: 17px;
		margin-left: 10px;
		border: none;
		border-radius: 5px;
		width: 150px;
	  }
	  
	  .search-container button {
		background: #ddd;
		font-size: 17px;
		border: none;
		cursor: pointer;
	  }
	  #search{
		  background: none;
	  }
	  .search-container button:hover {
		background: #ccc;
	  }
	  
	  .search_form{
		display: inline-flex;
	  }

	  .grid-container {
		display: grid;
		grid-gap: 20px;
		justify-items: center;
		grid-template-columns: auto auto auto;
		align-items: center;
		margin-left: 150px;
		width: 900px;
		height: 600px;
		}
		.item1 img{
			height: 180px;
			width: 250px;
			border-radius: 39px;
		}
		.caption {
			text-align: center;
			width: 245px;
			font-size: 14px;
		}
	}


	@media (max-width: 850px){
		.w3-teal,.w3-hover-teal:hover{
		  color:#fff!important;
		  background-color:#CED1D9 !important;
		}
	  .w3-button {
		color: #000000 !important;
		margin-left: 120px;
		border: none;
		display: inline-block;
		padding: 0px !important; 
		vertical-align: middle;
		overflow: hidden;
		text-decoration: none;
		color: inherit;
		background-color: inherit;
		text-align: center;
		cursor: pointer;
		white-space: nowrap;
	  }
	  .w3-bar-block .w3-bar-item {
		width: 100%;
		margin-left: 0px !important;
		display: block;
		padding: 8px 16px;
		text-align: left;
		border: none;
		white-space: normal;
		float: none;
		outline: 0;
	  }
	  .w3-sidebar a{
		margin-left: 20px !important;
		margin-top: 10px !important;
		font-size: 25px !important;
	  }
		nav{
		  position: relative;
		  font-size: 40px;
		  margin-top: 3%;
		}
		nav a{
		  display: none;
		}
		
		.w3-animate-left{
		  animation:animateleft 0.4s;
		}
		.w3-sidebar {
		  width: 220px !important;
		  height: 180px !important;
	  }
		
		.icons{
		  margin-left: 60%;
		  margin-top: 5%;
		  display: inline-flex;
		  position: absolute;
		}
		.icons i{
		  margin-left: 22px;
		  font-size: 20px;
		}
		.icons:hover input{
		  width: 100px;
		  padding: 0 36px 0 8px;
		}
		#category{
			display:none;
		}
		#category h1{
			display:none;
		} 
		.grid-container {
			display: grid;
    grid-gap: 20px;
    	justify-items: center;
    /* grid-template-columns: auto auto auto; */
    align-items: center;
		
			}

	.item1 img{
		height: 90px;
		width: 125px;
		border-radius: 39px;
			}
			.caption {
				text-align: center;
				width: 120px;
				font-size: 12px;
			}

			search-container input[type=text] {
				display:none;
			  }
			  
			  .search-container button {
				display:none;
			  }
			  #search{
				display:none;
			  }
			  .search-container button:hover {
				display:none;
			  }
			  
			  .search_form{
				display:none;
			  }
	}
#layout{
	display: flex;
	min-height: calc(100vh - 40vh);
}
#layout > #category{
    max-width: 30vh;
    background: #5680E9;
    min-height: 100vh;
    order: -1;
}
#category h1{
    top: 250px;
    margin-right: 20px;
    margin-left: 20px;
    position: relative;
    font-family: Segoe UI;
    font-size: 36px;
    color: #ffffff;
    text-align: center;
}
#layout > .container{
	flex:1;
}
.container{
	display:grid;
}
#layout > .next{
	max-width: 30vh;
	min-height: 100vh;
	position: absolute;
	right:10px;
}
.next a{
	text-decoration: none;
}
.next  h1{
		top: 280px;
		position: relative;
		font-family: Segoe UI;
		font-size: 44px;
		text-align: center;
		color: #C1C8E4;
		margin-right: 10px;
		line-height: 0px;
	}


 p{
margin-top: 3%;
	  margin-left:10%;
	  font-size:30px;
	  color: rgb(136, 96, 208);
  }